tree = [
  {
    "large": {"okrug": 1, "last_name": "Іваненко", "first_name": "Олег", "middle_name": "Петрович"},
    "okrugs": [
      {
        "okrug": {"okrug": 1.1, "last_name": "Сидоренко", "first_name": "Марія", "middle_name": "Іванівна"},
        "activists": [
          {
            "last_name": "Коваль",
            "first_name": "Анна",
            "middle_name": "Олегівна",
            "subscribers": [
              {"last_name": "Бондар", "first_name": "Ірина", "middle_name": "Миколаївна"},
              {"last_name": "Петренко", "first_name": "Дмитро", "middle_name": "Іванович"}
            ]
          }
        ]
      }
    ]
  }
]
